
<h1> Welcome To Chitter </h1> 
<ul class="peeplist" id="peeplist">
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
       <%= peep.message %><br>
    </li>
  <% end %>
</ul>