<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="peep_new.css">
</head>
  <body>
    <form action="/peeps" method="post" class="createpeep" id="createpeep">
    <input type="text" name="message" />
    <input type="submit" value="Submit" />
    </form>

    
  </body>

</html>