<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chitter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="<%= url("/layout.css")%>">
</head>
<body>

  <div class="jumbotron text-center">
      <h1>Chitter</h1>
    <% if @user %> 
      <form class="form-inline" action="/sessions/destroy" method="post" >
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary mb-5">Sign out</button>
      </div>
    </form>
    <% else %> 
    <form class="form-inline" action="/users/new" method="get" >
      <div class="col-md-1">
        <button type="submit" class="btn btn-primary mb-5">Sign up</button>
      </div>
    </form>
    <form class="form-inline" action="/sessions/new" method="get" >
    <div class="col-md-1">
      <button type="submit" class="btn btn-primary mb-5">Sign in</button>
    </div>
  </form>
    <% end %> 
  </div>

 

  <%= yield %>


</body>

</html>