<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Chitter </title> 
  <link rel="stylesheet" href="layout.css">
</head>
  <body>
    <h1> Chitter </h1> 
    <%= yield %>
  </body>

</html>